<h1><%=@current_turn.name%> attacks <%=@opposite_player.name%>!</h1>
<form action='/comp'>
  <input type='submit' value='OK'>
</form>
<!-- 

dfg vs. Computer
Damage from computer: 10 HP
Computer: 95HP
dfg: 90HP
Attack -->