<!DOCTYPE html>
<html>
<head>
	<title>Battle</title>
	<link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<h1>Game over!<h1>
			<h2><%=@game.current_turn.name%> loses!</h2>
		</div>
	</body>
	</html>