<!DOCTYPE html>
<html>
<head>
	<title>Battle</title>
	<link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<h1>Battle</h2>
			<img src="http://www.contestofchampions.net/matches/blipvsgleek/blipvsgleek_arena.png">

			<h2>Choose a number of players</h2>

			<form action='/one_player' method="post">
				<input type='submit' value='Single Player' >
			</form>
			<form action='/two_player' method="post" >
				<input type='submit' value='Multiplayer'>
			</form>
		</div>
	</body>
	</html>