<!DOCTYPE html>
<html>
<head>
	<title>Battle</title>
	<link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<h1>Battle</h1>
		<img src="http://www.contestofchampions.net/matches/blipvsgleek/blipvsgleek_arena.png">
		<h2>Sign in to play</h2>
		<form action="/names1" method="post">
			<label for="player_1">
				Player 1:
				<input type="text" name="player_1">
			</label>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>