<!DOCTYPE html>
<html>
<head>
	<title>Battle</title>
	<link href='/css/application.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<img src="http://www.contestofchampions.net/matches/blipvsgleek/blipvsgleek_arena.png">
		<h1><%=@current_turn.name%> is sleeping!</h1>
		<form action='/play'>
			<input type='submit' value='OK'>
		</form>
	</div>
</body>
</html>